body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #cfcfcf;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    border-bottom: solid 1px black;
}

nav a{
    color: black;
    text-decoration: none;
    background-color: #e9e9e9;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

nav a:hover{
    background-color: #c2c2c2;
    transform: scale(1.05);
}

main{
    background-color: white;
    border-radius: 10px;
    max-width: 900px;
    padding: 30px
}

.container{
    display: none;
    
}

.active-form{
    display: block;
}

.container form{
    padding: 30px 0 0 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campos{
    display: grid;
    grid-template-columns:repeat(2, 350px);
    justify-content: center;
    gap: 25px;
}

.entrada{
    display: flex;
    flex-direction: column;
}

.entrada input{
    padding: 15px;
    border:none;
    background-color: #e7e7e7;
    border-radius: 5px;
    font-size: 16px;
}

.entrada input:focus{
    background-color: #c4c4c4;
}

.entrada label{
    color: #464646;
}

.submit{
    margin: 30px 0 0;
    font-size: 20px;
    width: 30%;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    background-color: #e2e2e2;
    transition: 0.2s;
}

.submit:hover{
    transform: scale(1.03);
    background-color: #c2c2c2;
}

.pesquisa{
    display: flex;
    flex-direction: column;
}

.pesquisa input{
    padding: 15px;
    border:none;
    background-color: #e7e7e7;
    border-radius: 5px;
    font-size: 16px;
}

.pesquisa input:focus{
    background-color: #c4c4c4;
}

.pesquisa label{
    color: #464646;
}

.alterar{
    display: flex;
    flex-direction: column;
}

.alterar input{
    padding: 15px;
    border:none;
    background-color: #e7e7e7;
    border-radius: 5px;
    font-size: 16px;
}

.alterar input:focus{
    background-color: #c4c4c4;
}

.alterar label{
    color: #464646;
}