body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #cfcfcf;
}

.container-post{
    background-color: white;
    border: solid 2px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.container-post form{
    margin: 30px;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-aba{
    position: relative;
    text-align: center;
    padding: 15px 0;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    width: 200px;
    z-index: 5;
}

.campos{
    display: grid;
    grid-template-columns:repeat(2, 350px);
    justify-content: center;
    gap: 25px;
}

.entrada{
    display: flex;
    flex-direction: column;
}

.entrada input{
    padding: 15px;
    border:none;
    background-color: #cfcfcf;
    border-radius: 5px;
    font-size: 16px;
}

.entrada label{
    color: #464646;
}

.submit{
    margin: 50px 0 0;
    font-size: 20px;
    width: 30%;
    padding: 15px 0;
    border-radius: 10px;
    border: none;
    background-color: #cfcfcf;
    transition: 0.2s;
}

.submit:hover{
    transform: scale(1.05);
}